.space-members-with-list {
	padding: 24px;

	.members-list {
		max-height: 200px;
		overflow-y: auto;

		html:not(#__):not(#___) .cadmin & {
			max-height: 200px;
		}

		li {
			list-style: none;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
