.required-icon {
	font-size: 4.5px;
	margin-left: 2px;
}

.help-message {
	color: #6c6c75;
}

.marketplace-form-input {
	background-color: #ffff;
	border: 1px solid #b1b2b9;
	border-radius: 8px;
	height: 48px;
}
