modules/apps/accessibility/
modules/apps/account/
modules/apps/adaptive-media/
modules/apps/address/
modules/apps/ai-creator/
modules/apps/analytics/
modules/apps/announcements/
modules/apps/application-list/
modules/apps/archived/
modules/apps/asset/
modules/apps/asset-tags-validator/
modules/apps/batch-engine/
modules/apps/batch-planner/
modules/apps/bean-portlet/
modules/apps/blogs/
modules/apps/bookmarks/
modules/apps/bulk/
modules/apps/calendar/
modules/apps/captcha/
modules/apps/change-tracking/
modules/apps/changeset/
modules/apps/click-to-chat/
modules/apps/client-extension/
modules/apps/comment/
modules/apps/commerce/
modules/apps/company/
modules/apps/configuration-admin/
modules/apps/connected-app/
modules/apps/contacts/
modules/apps/content-dashboard/
modules/apps/cookies/
modules/apps/cookies/cookies-banner-web/
modules/apps/counter/
modules/apps/data-cleanup/
modules/apps/data-engine/
modules/apps/depot/
modules/apps/diff/
modules/apps/digital-signature/
modules/apps/dispatch/
modules/apps/document-library/
modules/apps/document-library-google-docs/
modules/apps/document-library-opener/
modules/apps/dynamic-data-lists/
modules/apps/dynamic-data-mapping/
modules/apps/expando/
modules/apps/export-import/
modules/apps/external-reference/
modules/apps/feature-flag/
modules/apps/flags/
modules/apps/fragment/
modules/apps/friendly-url/
modules/apps/frontend-css/
modules/apps/frontend-data-set/
modules/apps/frontend-editor/
modules/apps/frontend-icons/
modules/apps/frontend-js/
modules/apps/frontend-taglib/
modules/apps/frontend-theme/
modules/apps/frontend-token/
modules/apps/glowroot/
modules/apps/gogo-shell/
modules/apps/google-places/
modules/apps/headless/
modules/apps/hello-velocity/
modules/apps/iframe/
modules/apps/image/
modules/apps/image-uploader/
modules/apps/imageio-plugins/
modules/apps/info/
modules/apps/invitation/
modules/apps/ip-geocoder/
modules/apps/item-selector/
modules/apps/journal/
modules/apps/json-storage/
modules/apps/knowledge-base/
modules/apps/layout/
modules/apps/learn/
modules/apps/license-manager/
modules/apps/list-type/
modules/apps/locked-items/
modules/apps/login/
modules/apps/mail/
modules/apps/map/
modules/apps/marketplace/
modules/apps/mentions/
modules/apps/message-boards/
modules/apps/microblogs/
modules/apps/microsoft-translator/
modules/apps/mobile-device-rules/
modules/apps/monitoring/
modules/apps/my-subscriptions/
modules/apps/nested-portlets/
modules/apps/normalizer/
modules/apps/notification/
modules/apps/notifications/
modules/apps/oauth-client/
modules/apps/oauth2-provider/
modules/apps/object/
modules/apps/on-demand-admin/
modules/apps/organizations/
modules/apps/password-policies-admin/
modules/apps/plugins-admin/
modules/apps/portal/
modules/apps/portal-background-task/
modules/apps/portal-cache/
modules/apps/portal-configuration/
modules/apps/portal-crypto-hash/
modules/apps/portal-instances/
modules/apps/portal-language/
modules/apps/portal-lock/
modules/apps/portal-mobile-device-recognition/
modules/apps/portal-model-relationship/
modules/apps/portal-odata/
modules/apps/portal-osgi-debug/
modules/apps/portal-portlet-bridge/
modules/apps/portal-relationship/
modules/apps/portal-remote/
modules/apps/portal-reports-engine/
modules/apps/portal-rules-engine/
modules/apps/portal-scheduler/
modules/apps/portal-scripting/
modules/apps/portal-search/
modules/apps/portal-search-elasticsearch7/
modules/apps/portal-search-opensearch2/
modules/apps/portal-search-solr8/
modules/apps/portal-security/
modules/apps/portal-security-audit/
modules/apps/portal-security-sso/
modules/apps/portal-settings/
modules/apps/portal-store/
modules/apps/portal-template/
modules/apps/portal-transaction/
modules/apps/portal-url-builder/
modules/apps/portal-validation/
modules/apps/portal-vulcan/
modules/apps/portal-workflow/
modules/apps/portlet/
modules/apps/portlet-configuration/
modules/apps/portlet-dependency-factory/
modules/apps/portlet-display-template/
modules/apps/portlet-preferences/
modules/apps/product-navigation/
modules/apps/push-notifications/
modules/apps/questions/
modules/apps/ratings/
modules/apps/reading-time/
modules/apps/redirect/
modules/apps/release-feature-flag/
modules/apps/repository/
modules/apps/roles/
modules/apps/rss/
modules/apps/saved-content/
modules/apps/segments/
modules/apps/server/
modules/apps/service-component/
modules/apps/shared-dependencies/
modules/apps/sharing/
modules/apps/site/
modules/apps/site-initializer/
modules/apps/site-navigation/
modules/apps/social/
modules/apps/staging/
modules/apps/static/
modules/apps/style-book/
modules/apps/subscription/
modules/apps/template/
modules/apps/text-localizer/
modules/apps/translation/
modules/apps/trash/
modules/apps/upload/
modules/apps/user/
modules/apps/user-associated-data/
modules/apps/user-groups-admin/
modules/apps/users-admin/
modules/apps/view-count/
modules/apps/website/
modules/apps/websocket/
modules/apps/wiki/
modules/apps/words/
modules/apps/xstream/
modules/dxp/apps/akismet/
modules/dxp/apps/analytics/
modules/dxp/apps/antivirus/
modules/dxp/apps/commerce/
modules/dxp/apps/commerce-avalara/
modules/dxp/apps/commerce-demo-pack/
modules/dxp/apps/commerce-punchout/
modules/dxp/apps/document-library-opener/
modules/dxp/apps/enterprise-product-notification/
modules/dxp/apps/frontend-theme/
modules/dxp/apps/multi-factor-authentication/
modules/dxp/apps/osb/
modules/dxp/apps/portal/
modules/dxp/apps/portal-reports-engine-console/
modules/dxp/apps/portal-rules-engine-drools/
modules/dxp/apps/portal-search-elasticsearch-cross-cluster-replication/
modules/dxp/apps/portal-search-elasticsearch-monitoring/
modules/dxp/apps/portal-search-learning-to-rank/
modules/dxp/apps/portal-search-similar-results/
modules/dxp/apps/portal-search-tuning/
modules/dxp/apps/portal-security-audit/
modules/dxp/apps/portal-workflow/
modules/dxp/apps/portal-workflow-kaleo-forms/
modules/dxp/apps/salesforce-connector/
modules/dxp/apps/saml/
modules/dxp/apps/scim/
modules/dxp/apps/search-experiences/
modules/dxp/apps/segments/
modules/dxp/apps/sharepoint-rest/
modules/dxp/apps/sharepoint-soap/