.c-empty-state-title {
	margin-top: 12px;
}

.dxp-connections-table {
	border-radius: 10px;
	gap: 24px;
	padding: 24px;
	width: 100%;

	&-icon {
		height: 40px;
		width: 40px;
	}

	&-no-connection {
		color: #282934;
	}
}

.purchased-apps-dashboard-page {
	&-container {
		display: flex;
		gap: 2rem;
		padding: 0;
	}

	&-loading-indicator {
		align-self: center;
	}

	.table-responsive {
		overflow-x: unset;
	}
}
