.cp-ticket-attachments-table-wrapper {
	.table-responsive, .table thead th {
		border-bottom: 1px solid var(--color-neutral-2);
	}

	svg {
		cursor: pointer;
	}
}

.attachments-icon-container {
	border: 1px solid var(--color-neutral-2);
	border-radius: 10px;
	padding: 4rem 0;

	.attachments-icon {
		background-color: var(--color-brand-primary-lighten-5);
		border-radius: var(--border-radius);
		width: 144px;

		.lexicon-icon-folder {
			fill: var(--color-brand-primary);
			height: 2rem;
			width: 2rem;
		}
	}

	.c-empty-state-text {
		color: #6B6C7E;
	}
}

.dropdown-menu {
	button.dropdown-item  {
		padding: 0.75rem;

		&:hover:not(.disabled) {
			.lexicon-icon-download, .lexicon-icon-trash {
				opacity: 1;
			}
		}
	}

	ul.list-unstyled {
		margin-bottom: 0;
		padding: 0.5rem;
	}

	.lexicon-icon-download, .lexicon-icon-trash {
		height: 1rem;
		margin-right: 0.5rem;
		opacity: 0.5;
		width: 1rem;
	}
}

.modal-body, .modal-footer, .modal-header {
	border: 0;
}

.alert-container {
	.alert-successful-attachments {
		color: #2C6723;
	}


	.lexicon-icon-check-circle-full, .lexicon-icon-times {
		fill: #2C6723;
	}
}