[@liferay_aui.style]
	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .icon-background-color {
		background-color: ${configuration.iconBackgroundColor};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .icon-size{
		width: ${configuration.iconWidthAndHeight};
		height: ${configuration.iconWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .container-background-color {
		background-color: ${configuration.containerBackgroundColor};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .container-padding{
		padding: ${configuration.containerPadding};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .container-size{
		width: ${configuration.containerWidthAndHeight};
		height: ${configuration.containerWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .image-size{
		height: ${configuration.imageWidthAndHeight};
		width: ${configuration.imageWidthAndHeight};
	}

	.${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace} .icon-background {
		align-items: center;
		display: flex;
		justify-content: center;
	}
[/@]

<div class="${fragmentEntryLinkNamespace}-fragment-icon-container${fragmentEntryLinkNamespace}">
	<div class="icon-container rounded-circle container-background-color container-size container-padding">
		<div class="icon-background rounded-circle icon-background-color con-size">
			<img class="image-size" data-lfr-editable-id="image-square" data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABECAYAAABK3PEEAAAACXBIWXMAAC4jAAAuIwF4pT92AAABBUlEQVR4Xu3VAQkAIBDFUO0fRLCD2RSM8dg12Mbn5trnjo41MAvMtv1gBbb7FhjvW+AC6wZwvn5wgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI7XgguMG8DxWnCBcQM4XgsuMG4Ax2vBBcYN4HgtuMC4ARyvBRcYN4DjteAC4wZwvBZcYNwAjteCC4wbwPFacIFxAzheCy4wbgDHa8EFxg3geC24wLgBHK8FFxg3gOO14ALjBnC8Flxg3ACO14ILjBvA8VpwgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI73ADVez7kdh2y/AAAAAElFTkSuQmCC" />
		</div>
	</div>
</div>