.cp-project-usage-page {
	.cp-project-usage-info-button {
		background: var(--status-info-lighten-2);
		border-radius: var(--border-radius-sm);
		height: var(--spacer-3);
		width: var(--spacer-3);
	}
}
