[#assign
	currentURL = (themeDisplay.getURLCurrent()?keep_before("/home"))!
	hasMultipleProjects = false
	hasProject = false
/]

[#assign myUserAccountData = restClient.get("/headless-admin-user/v1.0/my-user-account")! /]

[#if myUserAccountData?is_hash]
	[#assign myUserAccount = myUserAccountData]
[/#if]

[#if myUserAccount?? && myUserAccount.accountBriefs??]
	[#assign hasProject = (myUserAccount.accountBriefs?has_content)!false /]

	[#if hasProject]
		[#assign createdProjectsResponse = restClient.get("/c/koroneikiaccounts/?sort=dateCreated:desc")! /]

		[#assign createdProjects = createdProjectsResponse.items![] /]

		[#assign
			cookieKey = "CP_LAST_VIEWED_PROJECT_" + myUserAccount.id
			cookies = request.getCookies()
			hasMultipleProjects = (myUserAccount.accountBriefs?size > 1)!false
			lastCreatedProject = createdProjects[0]!{}
			lastViewedProject = ""
		/]

		[#list cookies as cookie]
			[#if cookie.getName() == "lastViewedProject"]
				[#assign lastViewedProject = cookie.getValue()!""]

				[#break]
			[/#if]
		[/#list]

		[#assign selectedProjectReferenceCode = lastViewedProject?has_content?then(lastViewedProject, lastCreatedProject.externalReferenceCode) /]

		[#if selectedProjectReferenceCode?has_content]
			[#assign
				cardAccount = restClient.get("/c/koroneikiaccounts/by-external-reference-code/" + selectedProjectReferenceCode)
				status = ""
			/]

			[#if cardAccount.slaCurrent?has_content]
				[#assign
					slaProjectCardDate = cardAccount.slaCurrentEndDate!""
					status = "active"
				/]
			[#elseif cardAccount.slaFuture?has_content]
				[#assign
					slaProjectCardDate = cardAccount.slaFutureStartDate!""
					status = "future"
				/]
			[#elseif cardAccount.slaExpired?has_content]
				[#assign
					slaProjectCardDate = cardAccount.slaExpiredEndDate!""
					status = "expired"
				/]
			[/#if]

			[#assign parsedDate = slaProjectCardDate?datetime("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")!""]
		[/#if]

		[#assign
			projectDetailsPath = currentURL + "/project/#/${selectedProjectReferenceCode}"
			projectEventsPath = currentURL + "/project/#/${selectedProjectReferenceCode}/business-events"
			projectKeysPath = currentURL + "/project/#/${selectedProjectReferenceCode}/activation/dxp"
			projectMembersPath = currentURL + "/project/#/${selectedProjectReferenceCode}/team-members"
			projectsPath = currentURL + "/projects"
		/]

		[#assign
			dxpSubscription = restClient.get("/c/accountsubscriptiongroups/by-external-reference-code/" + selectedProjectReferenceCode + "_liferay-self-hosted")
			hasDXP = false
		/]

		[#if dxpSubscription.hasActivation?? && dxpSubscription.activationProductName?? && dxpSubscription.hasActivation == true && dxpSubscription.activationProductName == "DXP"]
			[#assign hasDXP = true]
		[/#if]
	[/#if]
[/#if]

[#if hasMultipleProjects]
	[#assign titleKey = lastViewedProject?has_content?then("last-viewed-project", "last-created-project") /]

	<div class="d-flex mb-3 project-card-access project-card-primary-button">
		<h1 class="mb-0 mr-3">${languageUtil.get(locale, titleKey)}</h1>

		<a class="align-items-center btn btn-solid btn-style-primary cp-button d-flex medium" href="${projectsPath}" role="button">
			${languageUtil.get(locale, "view-all")}

			<svg class="lexicon-icon lexicon-icon-order-arrow-right ml-2 my-0" role="presentation">
				<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#order-arrow-right" />
			</svg>
		</a>
	</div>
[#else]
	<div class="d-flex mb-3 project-card-access">
		<h1 class="mr-3">${languageUtil.get(locale, "your-project")}</h1>
	</div>
[/#if]

<div class="card card-actionable card-flat project-card" data-href="${projectDetailsPath}" id="projectCard">
	<div class="project-card-container">
		<div class="d-flex justify-content-between project-card-name-section">
			<div>
				<h1 class="product-title">${cardAccount.name}</h1>

				<div class="font-weight-semi-bold">${cardAccount.code}</div>
			</div>

			<div class="d-flex">
				[#if hasDXP]
					<div class="mr-2 project-card-button">
						<a class="btn btn-ghost btn-inverted btn-style-neutral cp-button medium" href="${projectKeysPath}" role="button">
							<svg class="lexicon-icon lexicon-icon-check-circle mr-2 my-0" role="presentation">
								<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#check-circle" />
							</svg>

							${languageUtil.get(locale, "activations-keys")}
						</a>
					</div>
				[/#if]

				<div class="project-card-button">
					<a class="btn btn-ghost btn-inverted btn-style-neutral cp-button medium" href="${projectMembersPath}" role="button">
						<svg class="lexicon-icon lexicon-icon-users mr-2 my-0" role="presentation">
							<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#users" />
						</svg>

						${languageUtil.get(locale, "team-members")}
					</a>
				</div>

				<div class="ml-2 project-card-button">
					<a class="btn btn-ghost btn-inverted btn-style-neutral cp-button medium" href="${projectEventsPath}" role="button">
						<svg class="lexicon-icon lexicon-icon-date mr-2 my-0" role="presentation">
							<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#date" />
						</svg>

						${languageUtil.get(locale, "business-event")}
					</a>
				</div>
			</div>
		</div>

		<div class="project-card-status-container">
			<div class="status-${status} status-badge status-badge-${status}">
				<span class="status-dot"></span>

				${languageUtil.get(locale, status)}
			</div>
		</div>

		<div class="align-items-end d-flex justify-content-between project-card-footer">
			<div>
				<div>
					[#if status == "active"]
						${languageUtil.get(locale, "ends-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
					[#elseif status == "future"]
						${languageUtil.get(locale, "starts-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
					[#elseif status == "expired"]
						${languageUtil.get(locale, "ended-on")}: <b>${parsedDate?string("MMM dd, yyyy")}</b>
					[/#if]
				</div>

				<div>${languageUtil.get(locale, "support-region")}: <b>${cardAccount.region}</b></div>
			</div>

			<div class="font-weight-bold project-details-button">
				<a class="align-items-center btn btn-unstyled d-inline-flex" href="${projectDetailsPath}" role="button">
					${languageUtil.get(locale, "see-project-details")}

					<svg class="lexicon-icon lexicon-icon-order-arrow-right ml-2 my-0" role="presentation">
						<use xlink:href="${themeDisplay.getPathThemeImages()}/clay/icons.svg#order-arrow-right" />
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>