/*Source Sans 3*/
@font-face {
	font-display: swap;
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 400;
	src: url([$DOCUMENT_URL:/site-initializer/documents/group/fonts/sourceSans3/SourceSans3-VariableFont_wght.ttf$]);
}

.lfr-layout-structure-item-com-liferay-site-navigation-breadcrumb-web-portlet-sitenavigationbreadcrumbportlet {
	background: #ffffff;
	border-radius: 10px;
	height: 40px;
	padding: 0px 16px;
}

.lfr-layout-structure-item-com-liferay-portal-search-web-category-facet-portlet-categoryfacetportlet,
.lfr-layout-structure-item-com-liferay-commerce-product-content-search-web-internal-portlet-cpspecificationoptionfacetsportlet {
	border-radius: 10px;
}
