@import 'atlas-variables';

.panel-unstyled {
	margin-bottom: 0;
	padding: 1rem 1.5rem;

	.panel-header {
		&,
		&.collapsed {
			border-color: $gray-400;
		}

		&.panel-header-link {
			border-radius: 0;
		}
	}
}
